/* Change the background color of the top navigation */
.site-nav {
    background-color: #ffffff;
}

.page-content {
    background-color: #ffffff; 
}

.wrapper {
    background-color: #ffffff;
}

h2 {
    color: #2C3E50; /* color for h2 headings */
}

h3 {
    color: #0e35a0; /* color for h3 headings */
}

.home p {
    color: #333333; 
}

.home a {
    color: #E74C3C; 
}

.home a:hover {
    color: #2C3E50; /* Color when hovering over the link */
}

.footer-col-1 .p-name {
    display: none;
}

.post-header .post-title {
    display: none;
}