.site-header {
    padding: 20px 0;
    text-align: center;
    background-color: #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.site-footer {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #EAEAEA;
    background-color: #EAEAEA;
}

.footer-logo img {
    margin-bottom: 10px;
    max-width: 500px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.footer-content a {
    color: #333; 
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #0077cc; 
}
